.card{ 
    background-color: rgb(40, 230, 237);
    border:solid blueviolet; 
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

p { 
    background-color: rgb(47, 201, 27);
}

img{
    border-radius: 15px;
width: 100%;
max-width: 300px;

}